<div class="row-fluid">

	<div id="edit_account" class="modal hide fade">
		  <div class="modal-header" 
			style = "background: #499bea; /* Old browsers */
			background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%); /* IE10+ */
			background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
			copy">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h3><span style = "color:white">Local Host Screen Shots</span></h3>
		  </div>
		  <div class="modal-body">
				<div id="myCarousel" class="carousel slide">
	                <ol class="carousel-indicators">
	                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
	                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
	                </ol>
	                <div class="carousel-inner">
	                  <div class="item active">
	                    <%= image_tag "login_page.png" %>
	                    <p style = "font-weight:bold;margin-top:2%">Login Page:</p>
	                  	<p style = "margin-left:2%">- user may login or register</p>
	                  </div>

	                  <div class="item">
	                    <%= image_tag "home.png" %>
	                   	<p style = "font-weight:bold;margin-top:2%">Main Page:</p>
	                  	<p style = "margin-left:2%">- view posts</p>
	                 	<p style = "margin-left:2%">- realtime posts/comments</p>
	                  	<p style = "margin-left:2%">- realtime notifications</p>
	                  	<p style = "margin-left:2%">- see who is online</p>
	                  </div>
	                  <div class="item">
	                     <%= image_tag "profile.png" %>
	                    <p style = "font-weight:bold;margin-top:2%">Profile Page:</p>
	                  	<p style = "margin-left:2%">- change profile </p>
	                  </div>
	                  <div class="item">
	                     <%= image_tag "chat.png" %>
	                    <p style = "font-weight:bold;margin-top:2%">Chat Page:</p>
	                  	<p style = "margin-left:2%">- realtime chat</p>
	                  	<p style = "margin-left:2%">- see who is online</p>
	                  </div>

	                </div>
	                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	              </div>
		  </div>
		  <div class="modal-footer">
			<a href="#" class="btn" id="edit_close">Close</a>
		  </div>
	</div>
	
		<div class="per-member-block">
			<div class="row-fluid">
				<div class = "span2">
					<%= gravatar_image_tag(@justine, class:"img-circle pull-left", gravatar: { size: 192 }) %>
				</div>	
				<div class = "span7">
					<div class = "row-fluid">
						<p style="font-size:28px;color:#4873A3;letter-spacing:1px;"> 
							Justine Salangsang 
							<%= link_to image_tag("facebook-icon.png", class:"social-icons"), "https://www.facebook.com/ticklemetintine", class:"facebook" %> 
							<%= link_to image_tag("twitter-icon.png", class:"social-icons"), "http://www.twitter.com/ticklemetintine" , class:"twitter"%>
							<%= link_to image_tag("linkedin-icon.png", class:"social-icons"), "http://ph.linkedin.com/pub/justine-salangsang/62/678/b7"  , class:"linkedin"  %>
							<%= link_to image_tag("gplus-icon.png", class:"social-icons"), "https://plus.google.com/u/0/112831818155332119532", class:"google" %>
						</p>
						<small> /Web Designer & Developer/ </small>
						<p style = "text-indent:20px;margin-top:10px;text-align:justify">
							Tine is one of the few female programmers right now focusing on web and applications development. To gain more experience, she participates in Hackathons and other programming competitions with her team mates, Mark and Axel. 
						</p>						
					</div>	
				</div>
				<div class = "span3">
					<div class = "row-fluid">
						<p class="lead"> Expertise: </p>
					</div>	
					<div class = "row-fluid">
						<%= image_tag "html5.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "css3.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "php.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "mysql.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "jquery.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "jekyll.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;width:60px;height:32px;background:#000" %>
					</div>	
					<div class = "row-fluid" style="margin-top:10px">
						<p class="lead"> Projects/Works: </p>
						<ul class="">
							<li>&raquo; Involved in the creation of <a href="http://www.metalbuildingcomparison.com" class = "justine">Metal Building Comparison</a> web application</li>
							<li>&raquo; Involved in the creation of <a href="http://www.copiersleasing.com" class = "justine">Copiers Leasing Central</a> web application</li>
						</ul>
					</div>	
				</div>	
			</div>
		</div>

		<div class="per-member-block">
			<div class="row-fluid">
				<div class = "span2">
					<%= gravatar_image_tag(@axel, class:"img-circle pull-left", gravatar: { size: 192 }) %>
				</div>	
				<div class = "span7">
					<div class = "row-fluid">
						<p style="font-size:28px;color:#4873A3;letter-spacing:1px;"> 
							 Axel Felipe 
							 <%= link_to image_tag("facebook-icon.png", class:"social-icons"), "https://www.facebook.com/axel.felipe" , class:"facebook"%>
							<%= link_to image_tag("gplus-icon.png", class:"social-icons"), "https://plus.google.com/103242821362776636176", class:"google" %>							 
						</p>
						<small>/Acting Project Manager/</small>
						<p style = "text-indent:20px;margin-top:10px;text-align:justify">
							Axel is a developer who focuses on web applications. Primarily he uses PHP as his programming language for development. During his spare time Axel loves to search the net for new technologies that might be of use for development he also loves to read articles and watch tutorials regarding web application's development to further enhance his skill not only in programming but also in aesthetics.
						</p>						
					</div>	
				</div>
				<div class = "span3">
					<div class = "row-fluid">
						<p class="lead"> Expertise: </p>
					</div>	
					<div class = "row-fluid">
						<%= image_tag "html5.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "css3.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "php.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "mysql.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "jquery.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "node.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
					</div>	
					<div class = "row-fluid" style="margin-top:10px">
						<p class="lead"> Projects/Works: </p>
						<ul class="">
							<li>&raquo; Currently working on a travel site for <a href="http://travelyoung.comyr.com/" class = "axel">TRavelYoung</a></li>
							<li>&raquo; <a href="#" id = "testing"> Egg-Hub </a>is one of Axel's work, it is a social site which uses Node JS for realtime updates and chat</li>
						</ul>
					</div>	
				</div>	
			</div>			
		</div>

		<div class="per-member-block">
			<div class="row-fluid">
				<div class = "span2">
					<%= gravatar_image_tag(@mark, class:"img-circle pull-left", gravatar: { size: 192 }) %>
				</div>	
				<div class = "span7">
					<div class = "row-fluid">
						<p style="font-size:28px;color:#4873A3;letter-spacing:1px;"> 
							  Mark Chavez 
							  <%= link_to image_tag("facebook-icon.png", class:"social-icons"), "https://www.facebook.com/mrkjlchvz" , class:"facebook"%> 
							  <%= link_to image_tag("twitter-icon.png", class:"social-icons"), "http://www.twitter.com/mrkjlchvz" , class:"twitter" %>
							  <%= link_to image_tag("linkedin-icon.png", class:"social-icons"), "http://ph.linkedin.com/pub/mark-chavez/33/2ab/5aa" , class:"linkedin"%>
							  <%= link_to image_tag("gplus-icon.png", class:"social-icons"), "https://plus.google.com/u/0/102781608950487459252" , class:"google" %>
						</p>
						<small>/Web Designer & Developer/</small>
						<p style = "text-indent:20px;margin-top:10px;text-align:justify">
							A very passionate web enthusiast focusing on developing apps for the web. Mark is currently improving his skills in programming. Attending meetups & hackathons when he have spare time. He is using the Ruby on Rails framework for developing web apps.
						</p>						
					</div>	
				</div>
				<div class = "span3">
					<div class = "row-fluid">
						<p class="lead"> Expertise: </p>
					</div>	
					<div class = "row-fluid">
						<%= image_tag "rails.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "javascript.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "coffee.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "mysql.jpg", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
						<%= image_tag "postgre.png", class:"pull-left", style:"margin-right:10px;margin-bottom:5px;" %>
					</div>	
					<div class = "row-fluid" style="margin-top:10px">
						<p class="lead"> Projects/Works: </p>
						<ul class="">
							<li>&raquo;  Involved with different <a href="http://www.globe.com.ph" class = "markchavez"> Globe </a> projects </li>
							<li>&raquo;  <a href="http://dashboard.ndc.gov.ph:8080/" title="National Development Company" class = "markchavez"> NDC's </a> dashboard system </li>
						</ul>
					</div>	
				</div>	
			</div>	
		</div>	
	
</div>

